.phonebookBox{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.phonebookFormBox{
    border: 1px solid #ccc; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    padding: 10px 20px 10px 20px;
    background-color: grey;
    border-radius: 8px;
    margin-bottom: 2px;
}

.phonebookTitle{
    color: black;
    font-size: 30px;
}
.contactsTitle{
    font-size: 30px;
    color: black;
    /* color: lightblue; */
}

