.phonebookBox{
    display: flex;
    /* width: 400px; */
    /* border: 1px solid gray; */
    flex-direction: column; 
    align-items: center;
    /* margin-top: 100px; */
}
.phonebookTitle{
    color: yellow;
    font-size: 30px;
}
.contactsTitle{
    font-size: 30px;
    /* color: darkblue; */
    color: gray;
}