
/* .LogForm {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logFormTitle {
  text-align: center;
  color: #333;
}

.logFormLabel {
  display: block;
  margin: 15px 0;
  font-size: 16px;
  color: #555;
}

.logformLabel input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.logformBtn {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logformBtn:hover {
  background-color: #0056b3;
} */

.LogForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px; /* або будь-яка інша ширина за вашим вибором */
  margin: auto; /* це вирівнює форму по центру */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.logFormTitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.logFormLabel {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.regFormLable {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.logFormBtn {
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logFormBtn:hover {
  background-color: #2980b9;
}