.filterLabel{
    font-size: 19px;
    font-weight: 700;
    /* color: grey; */
    color: black;
    margin-bottom: 5px;
}


.filterInput{
    margin-bottom: 10px;
    /* width: 200px; */
    width: 100%;
    color: black;
    font-size: 16px;
    font-weight: 500; 
    max-width: 260px;
    padding: 0 5px 0 5px;
    background-color: gray;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    outline: none;

}
.filterInput:focus::placeholder{
    border: none;
    color: green;
}

.focused{
    color: yellow;
}



