.phoneBookForm{
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* padding: 10px; */
    background-color: gray;
    /* width: 100%; */
    max-width: 320px;
    /* max-width: 380px; */
    color: black;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;


}
.phoneBookFormBtn{
    padding: 5px;
    cursor: pointer;
    color: black;
    border: none;
    border-radius: 5px;
    background-color: gray;
    width: 280px;
    margin: 0 auto;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    transition: background-color 0.3s;
}
.phoneBookInput{
    color: black;
    font-size: 16px;
    font-weight: 500; 
    width: 280px;
    /* width: 100%; */
    background-color: transparent;
    border-radius: 4px;
    padding: 0 5px 0 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    outline: none;
}

.phoneBookFormBtn:hover {
   /* background-color: #27ae60; */
   background-color: yellow;
   background-color: green;
}
 
.phoneBookFormTitle{
    color: black;
    font-size: 30px;
    text-align: center;
}

.focusedContact{
    color: yellow;
}