
.contactList{
    width: 100%;
    max-width: 400px;
    height: auto;
    /* background-color: gray; */
    border-radius: 2px;
    border: 1px solid yellow;
}

.contactListItem{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.contactDelBtn{
    padding: 3px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: lightcoral;
    display: block;

    
}
.contactItemView{
    font-size: 18px;
    font-weight: 500;
    color: black;
}