
.contactList{
    width: 100%;
    max-width: 350px;
    height: auto;
    /* background-color: gray; */
    border-radius: 2px;
    /* border: 1px solid yellow; */
}

.contactListItem{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid black;
    /* background-color: yellow; */
}
.contactDelBtn{
    padding: 3px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: lightcoral;
    display: block;

    
}
.contactItemView{
    font-size: 16px;
    font-weight: 400;
    color: black;
}